<h1>Edit</h1>
{{#issues}}
<form action="/issues/update/{{issue_id}}" method="POST">
	<div class="row">
	<h4>Modifify Your Solution</h4> :
	<textarea rows="5" cols="50" name="Solution" value = "{{Solution}}" class="description" required>{{Solution}}</textarea>
	<p>Current Category : {{id}}</p>
{{/issues}}

<div class="drpdownRow">
      <select name="id" class="descriptionBut">
            {{#categories}}
                  {{#selected}}
                  <option value = "{{id}}" selected>{{category}}</option>
                  {{/selected}}

                  {{^selected}}
                  <option value = "{{id}}">{{category}}</option>
                  {{/selected}}
            {{/categories}}
            </select>
            </div>   
	<button name="submit" type="submit" class="btn btn-info" style="float:left" >Submit</button>
	</div>
</form>