      <table class="table-2" id="reqIssuesOutPut">
  <thead>
    <th>issue date</th>
    <th>Category Specification</th>    
    <th>description</th>
    <th>error_message</th>
    <th>Solution</th>
  </thead>
  <tbody>
    {{#results}}
    <tr>
      <td>{{issue_date}}</td>
      <td>{{Category_Specification}}</td>      
      <td>{{issue_description}}</td>
      <td>{{error_message}}</td>
      <td>{{Solution}}</td>
    </tr>
     {{/results}}
  </tbody>
</table>
