<table class="table-2" id="reqIssuesOutPut">
  <thead>
    <th>Issue Date</th>
    <th>Category Specification</th>    
    <th>subject</th>    
    <th>Description</th>
    <th>Error Message</th>
    <th>Solution</th>
  </thead>
  <tbody>
    {{#results}}
    <tr>
      <td>{{issue_date}}</td>
      <td>{{category}}</td>      
      <td>{{subject}}</td>      
      <td>{{issue_description}}</td>
      <td>{{error_message}}</td>
      <td>{{Solution}}
      <button type="button" class="btn btn-success" onClick="location.href='/issues/edit/{{issue_id}}'"><span class="glyphicon glyphicon-edit"></span> Edit</button>
    </td>
    
    </tr>
     {{/results}}
  </tbody>
</table>