<div class="container">
  <!-- Description -->
  <h1 class="description">
    Developement KiT</br>
  Take care of all the errors and learn from them
  </h1>    

  <div class="row">
   <!-- Table demo -->
<div class="box-table">
<table data-fn="contacts">
      <tr class="info">
        <th>Category Specification</th>
        <th>description</th>
        <th>Solution</th>
      </tr>
          {{#results}}
      <tr>
        <td>{{categorise_issue}}</td>
        <td>{{description}}</td>
        <td>{{Solution}}</td>
      </tr>
      {{/results}}
</table>    
</div>

<form  action="/issues" method="POST">
<legend><strong>Log new problem</strong></legend>
    <!-- [[dropdown]] -->
        <div class="dropdown-button"> 
          <select name="category_id">
            {{#categories}}
            <option value = "{{category_id}}">{{category}}</option>
            {{/categories}}
          </select> 
        </div> 
    <input name="description" placeholder="description of my problem" class="description" type="description" required />

    <textarea rows="5" cols="50" name="subject" placeholder="Solution for this specific problem" class="message" required></textarea>
    <button name="submit" type="submit" class="btn btn-info" value="Send">Submit</button>
</form>
<!-- 
<script type="text/javascript">
$('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'left' // Displays dropdown with edge aligned to the left of button
    }
  );
</script>
 -->