  <h1 class="description">
    Developement KiT</br>
  Take care of all the errors and learn from them
  </h1>  
<div class="box">
<label for="pullCatNameReq">Search</label>
  <div class="container-1">
    <span class="icon"><i class="fa fa-search fa-2x"></i></span>
    <input type="search" id="search" name="Solution" placeholder="  error message match" />  
  </div>
</div>
  <div class="row">
    <table class="table-2" id="reqIssuesOutPut">
  <thead>
    <th>issue date</th>
    <th>Category Specification</th>    
    <th>description</th>
    <th>error_message</th>
    <th>Solution</th>
  </thead>
  <tbody>
    {{#results}}
    <tr>
      <td>{{issue_date}}</td>
      <td>{{Category_Specification}}</td>      
      <td>{{issue_description}}</td>
      <td>{{error_message}}</td>
      <td>{{Solution}}</td>
    </tr>
     {{/results}}
  </tbody>
</table>
</div>
   <!-- Table demo -->
<form  action="/issues/add" method="POST">
<legend><strong>Log new problem</strong></legend>
    <!-- [[dropdown]] -->
        <div class="dropdown-button"> 
          <select name="category_id">
            {{#categories}}
            <option value = "{{category_id}}">{{category}}</option>
            {{/categories}}
          </select> 
        </div> 
    <input name="description" value="{{description}}" placeholder="description of my problem" class="description" type="description" required />

<input name="categorise_issue" value="{{categorise_issue}}" placeholder="categorise_issue" class="description" type="categorise_issue" required />

<input name="error_message" value="{{error_message}}" placeholder="error_message" class="description" type="error_message" required />

    <textarea rows="5" cols="50" name="Solution" value= "{{Solution}}" placeholder="Solution for this specific problem" class="description" required></textarea>
    <button name="submit" type="submit" class="btn btn-info" >Submit</button>
</form>
